<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title><%= @title %></title>
    <description><%= @description %></description>
    <link><%= @url %></link>
    <lastBuildDate><%= Time.now %></lastBuildDate>
    <pubDate><%= @pubDate || Time.now %></pubDate>

    <% @items.each do |item| %>
    <item>
      <title><%= item['title'] %></title>
      <description><%= item['description'] %></description>
      <content><![CDATA[
        <%= item['content'] %>
      ]]></content>
      <link><%= item['url'] %></link>
      <guid isPermaLink="false"><%= item['guid'] %></guid>
      <pubDate><%= item['date'] %></pubDate>
    </item>
    <% end %>
  </channel>
</rss>